<mat-dialog-content>
    <div class="pokemon-card">
        <div class="card-header">
            <p>{{pokeData.name}}</p>
            <span>PS {{pokeData.base_experience ?? 0}}</span>
        </div>
        <div class="card-img">
            <img [src]="pokeData.sprites.front_default" [alt]="pokeData.name">
        </div>
        <div class="card-body">
            <p>Types: <span *ngFor="let type of pokeData.types">{{type.type.name ?? 'Desconocido'}}, </span></p>
            <p>Abilities: <span *ngFor="let ability of pokeData.abilities">{{ability.ability.name ?? 'Desconocido'}}, </span></p>
            <div class="stats">
                <span style="background-color: rgb(36, 146, 219);">{{pokeData.stats[0].stat.name ?? 'Desconocido'}}: {{pokeData.stats[0].base_stat ?? 'Desconocido'}}</span>
                <span style="background-color: rgb(219, 36, 36);">{{pokeData.stats[1].stat.name ?? 'Desconocido'}}: {{pokeData.stats[1].base_stat ?? 'Desconocido'}}</span>
                <span style="background-color: rgb(36, 219, 112);">{{pokeData.stats[2].stat.name ?? 'Desconocido'}}: {{pokeData.stats[2].base_stat ?? 'Desconocido'}}</span>

            </div>
        </div>
    </div>
</mat-dialog-content>
